<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{35} %line - %m%n</pattern>
    </encoder>
  </appender>

  <logger name="com.orctom" level="trace" additivity="false">
    <appender-ref ref="stdout"/>
  </logger>

  <root level="info">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
